{
    "openapi": "3.0.0",
    "info": {
        "title": "ERP",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://api.kant.xyz/v1",
            "description": "Pre Production Server"
        },
        {
            "url": "https://api.gungoren.bel.tr/v1",
            "description": "Production Server"
        },
        {
            "url": "localhost:8080/v1",
            "description": "Local Environment"
        }
    ],
    "paths": {
        "/file": {
            "get": {
                "tags": [
                    "File"
                ],
                "summary": "Get file",
                "operationId": "ControllerFile::get",
                "parameters": [
                    {
                        "parameter": "token",
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uri"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/octet-stream": {}
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/file/zip": {
            "post": {
                "tags": [
                    "File"
                ],
                "summary": "Zip Files",
                "description": "Create a zip file from given file URIs and returns the URI for that zip file. Unauthorized or non-existing files will be skipped.",
                "operationId": "ControllerFile::zip",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "properties": {
                                                    "files": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string",
                                                            "format": "uri"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "uri": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            }
        },
        "/task_management/task": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get Tasks",
                "description": "Returns tasks and subtasks that are related to the `active` personnel",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_order_by"
                    },
                    {
                        "$ref": "#/components/parameters/task_filter"
                    },
                    {
                        "$ref": "#/components/parameters/task_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                }
            },
            "post": {
                "tags": [
                    "Task"
                ],
                "summary": "Create Task",
                "operationId": "ControllerTaskManagementTask::createTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/task_include"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/task_post_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}": {
            "get": {
                "tags": [
                    "Task"
                ],
                "summary": "Get Single Task",
                "description": "Returns a single task and it's subtasks that is related to the `active` personnel",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/task_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Task"
                ],
                "summary": "Remove Task",
                "operationId": "ControllerTaskManagementTask::removeTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Task"
                ],
                "summary": "Update Task",
                "operationId": "ControllerTaskManagementTask::updateTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/task_include"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/task_patch_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/task"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/comment": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Get Task Comments",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Comment On Task",
                "operationId": "ControllerTaskManagementTask::commentOnTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/comment_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/event": {
            "get": {
                "tags": [
                    "Event"
                ],
                "summary": "Get Task Events",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/event_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/event"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/attachment": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Get Task Attachments",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/attachment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Add Task Attachment",
                "operationId": "ControllerTaskManagementTask::addTaskAttachment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/attachment_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/attachment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask": {
            "get": {
                "tags": [
                    "Subtask"
                ],
                "summary": "Get Subtasks",
                "description": "Returns a tasks's subtasks",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/subtask"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Subtask"
                ],
                "summary": "Create Subtask",
                "operationId": "ControllerTaskManagementTask::createSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_include"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/task_post_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/subtask"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}": {
            "get": {
                "tags": [
                    "Subtask"
                ],
                "summary": "Get Single Subtask",
                "description": "Returns a single subtask",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/subtask"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Subtask"
                ],
                "summary": "Remove Subtask",
                "operationId": "ControllerTaskManagementTask::removeSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Subtask"
                ],
                "summary": "Update Subtask",
                "operationId": "ControllerTaskManagementTask::updateSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/task_patch_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/subtask"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/comment": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Get Subtask Comments",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Comment"
                ],
                "summary": "Comment On Subtask",
                "operationId": "ControllerTaskManagementTask::commentOnSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/comment_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/event": {
            "get": {
                "tags": [
                    "Event"
                ],
                "summary": "Get Subtask Events",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/event_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/event"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/attachment": {
            "get": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Get Subtask Attachments",
                "operationId": "ControllerTaskManagementTask::get",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/attachment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "post": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Add Subtask Attachment",
                "operationId": "ControllerTaskManagementTask::addSubtaskAttachment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/attachment_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/attachment"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/assign/{personnel_id}": {
            "post": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Assign Task",
                "operationId": "ControllerTaskManagementTask::assignTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/personnel_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/personnel_basic"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Deassign Task",
                "operationId": "ControllerTaskManagementTask::deassignTask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/personnel_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/assign/{personnel_id}": {
            "post": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Assign Subtask",
                "operationId": "ControllerTaskManagementTask::assignSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/personnel_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/personnel_basic"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Assignment"
                ],
                "summary": "Deassign Subtask",
                "operationId": "ControllerTaskManagementTask::deassignSubtask",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/personnel_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/comment/{comment_id}": {
            "delete": {
                "tags": [
                    "Comment"
                ],
                "summary": "Remove Task Comment",
                "operationId": "ControllerTaskManagementTask::removeComment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comment"
                ],
                "summary": "Update Task Comment",
                "operationId": "ControllerTaskManagementTask::editTaskComment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/comment_patch_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/comment/{comment_id}": {
            "delete": {
                "tags": [
                    "Comment"
                ],
                "summary": "Remove Subtask Comment",
                "operationId": "ControllerTaskManagementTask::removeSubtaskComment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comment"
                ],
                "summary": "Update Subtask Comment",
                "operationId": "ControllerTaskManagementTask::editSubtaskComment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/comment_patch_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/attachment/{attachment_id}": {
            "delete": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Remove Task Attachment",
                "operationId": "ControllerTaskManagementTask::removeAttachment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/task_management/task/{task_id}/subtask/{subtask_id}/attachment/{attachment_id}": {
            "delete": {
                "tags": [
                    "Attachment"
                ],
                "summary": "Remove Subtask Attachment",
                "operationId": "ControllerTaskManagementTask::removeSubtaskAttachment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/task_id"
                    },
                    {
                        "$ref": "#/components/parameters/subtask_id"
                    },
                    {
                        "$ref": "#/components/parameters/attachment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "comment_body": {
                "required": [
                    "message"
                ],
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "attachment_body": {
                "required": [
                    "name",
                    "base64"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "base64": {
                        "type": "binary"
                    }
                },
                "type": "object"
            },
            "task_priority": {
                "title": "TaskPriority",
                "properties": {
                    "priority": {
                        "type": "integer",
                        "default": 1,
                        "enum": [
                            "Clear",
                            "Low",
                            "Medium",
                            "High",
                            "Urgent"
                        ]
                    }
                },
                "type": "object"
            },
            "task_status": {
                "title": "TaskStatus",
                "properties": {
                    "status": {
                        "type": "integer",
                        "default": 1,
                        "enum": [
                            "Open",
                            "InProgress",
                            "Delayed",
                            "Complete",
                            "Cancelled"
                        ]
                    }
                },
                "type": "object"
            },
            "task_post_body": {
                "required": [
                    "title",
                    "assignee",
                    "description",
                    "due_date",
                    "location",
                    "priority",
                    "status"
                ],
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "assignee": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "minimum": 1
                        },
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "due_date": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "location": {
                        "properties": {
                            "latitude": {
                                "type": "string",
                                "maximum": "90",
                                "minimum": "-90"
                            },
                            "longitude": {
                                "type": "string",
                                "maximum": "180",
                                "minimum": "-180"
                            }
                        },
                        "type": "object",
                        "nullable": true
                    },
                    "priority": {
                        "description": "`1 = Clear`, `2 = Low`, `3 = Medium`, `4 = High`, `5 = Urgent`",
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1
                    },
                    "status": {
                        "description": "`1 = Open`, `2 = InProgress`, `3 = Delayed`, `4 = Complete`, `5 = Cancelled`",
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1
                    }
                },
                "type": "object"
            },
            "task_patch_body": {
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "due_date": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "location": {
                        "properties": {
                            "latitude": {
                                "type": "string",
                                "maximum": "90",
                                "minimum": "-90"
                            },
                            "longitude": {
                                "type": "string",
                                "maximum": "180",
                                "minimum": "-180"
                            }
                        },
                        "type": "object",
                        "nullable": true
                    },
                    "priority": {
                        "description": "`1 = Clear`, `2 = Low`, `3 = Medium`, `4 = High`, `5 = Urgent`",
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1
                    },
                    "status": {
                        "description": "`1 = Open`, `2 = InProgress`, `3 = Delayed`, `4 = Complete`, `5 = Cancelled`",
                        "type": "integer",
                        "maximum": 5,
                        "minimum": 1
                    }
                },
                "type": "object"
            },
            "comment_patch_body": {
                "title": "Comment",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "authorization": {
                "type": "string"
            },
            "error": {
                "properties": {
                    "code": {
                        "type": "integer"
                    },
                    "detail": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "errors": {
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/error"
                        }
                    }
                },
                "type": "object"
            },
            "personnel_basic": {
                "title": "Personnel Basic",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "": {
                        "properties": {
                            "image_uri": {
                                "type": "string",
                                "format": "uri",
                                "nullable": true
                            },
                            "firstname": {
                                "type": "string"
                            },
                            "lastname": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "attachment": {
                "title": "attachment",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "properties": {
                            "name": {
                                "type": "string"
                            },
                            "extension": {
                                "type": "string",
                                "nullable": true
                            },
                            "uri": {
                                "description": "Direct access URI",
                                "type": "string",
                                "format": "uri"
                            }
                        },
                        "type": "object"
                    },
                    "relationships": {
                        "properties": {
                            "uploader": {
                                "description": "NULL if attachment was added by the system",
                                "properties": {
                                    "data": {
                                        "$ref": "#/components/schemas/personnel_basic"
                                    }
                                },
                                "type": "object",
                                "nullable": "true"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "comment": {
                "title": "Comment",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "properties": {
                            "message": {
                                "type": "string"
                            },
                            "edited_on": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "commented_on": {
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    },
                    "relationships": {
                        "properties": {
                            "commentator": {
                                "properties": {
                                    "data": {
                                        "$ref": "#/components/schemas/personnel_basic"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "event": {
                "title": "Event",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "properties": {
                            "type": {
                                "description": "`StatusChanged = 1`, `TitleChanged = 2`, `Assigned = 3`, `Deassigned = 4`, `DescriptionUpdated = 5`, `DueDateChanged = 6`, `SubtaskCreated = 7`, `SubtaskRemoved = 8`, `PriorityChanged = 10`, `LocationChanged = 11`, `AttachmentAttached = 12`, `AttachmentRemoved = 13`, `StartDateChanged = 14`",
                                "type": "integer",
                                "maximum": 14,
                                "minimum": 1
                            },
                            "occurred_on": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "data": {
                                "description": "\n  *     Depending on the event type, this object will contain following properties: \n  *     `type == 1` => `{ status_old: int, status_new: int }`,\n  *     `type == 2` => `{ title_old: string, title_new: string }`,\n  *     `type == 3` => `{ assignee: int }`,\n  *     `type == 4` => `{ assignee: int }`,\n  *     `type == 5` => `{ description: string }`,\n  *     `type == 6` => `{ due_date_old: string(datetime), due_date_new: string(datetime) }`,\n  *     `type == 7` => `{ title: string }`,\n  *     `type == 8` => `{ title: string }`,\n  *     `type == 10` => `{ priority_old: int, priority_new: int }`,\n  *     `type == 11` => `{ location: { latitude: string, longitude: string } }`,\n  *     `type == 12` => `{ name: string }`,\n  *     `type == 13` => `{ name: string }`,\n  *     `type == 14` => `{ start_date_old: string(datetime), start_date_new: string(datetime) }`\n  *    ",
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "relationships": {
                        "properties": {
                            "enabler": {
                                "description": "NULL if event was triggered by the system",
                                "properties": {
                                    "data": {
                                        "$ref": "#/components/schemas/personnel_basic"
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "subtask": {
                "title": "Subtask",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "properties": {
                            "assigner": {
                                "type": "integer",
                                "minimum": 1
                            },
                            "title": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string",
                                "nullable": true
                            },
                            "due_date": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "location": {
                                "properties": {
                                    "latitude": {
                                        "type": "string",
                                        "maximum": "90",
                                        "minimum": "-90"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "maximum": "180",
                                        "minimum": "-180"
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            },
                            "priority": {
                                "description": "`1 = Clear`, `2 = Low`, `3 = Medium`, `4 = High`, `5 = Urgent`",
                                "type": "integer",
                                "maximum": 5,
                                "minimum": 1
                            },
                            "status": {
                                "description": "`1 = Open`, `2 = InProgress`, `3 = Delayed`, `4 = Complete`, `5 = Cancelled`",
                                "type": "integer",
                                "maximum": 5,
                                "minimum": 1
                            },
                            "created_on": {
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    },
                    "relationships": {
                        "properties": {
                            "assignee": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/personnel_basic"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "comment": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/comment"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "event": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/event"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "attachment": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/attachment"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "task": {
                "title": "Task",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "attributes": {
                        "properties": {
                            "assigner": {
                                "type": "integer",
                                "minimum": 1
                            },
                            "title": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string",
                                "nullable": true
                            },
                            "start_date": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "due_date": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                            },
                            "location": {
                                "properties": {
                                    "latitude": {
                                        "type": "string",
                                        "maximum": "90",
                                        "minimum": "-90"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "maximum": "180",
                                        "minimum": "-180"
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            },
                            "priority": {
                                "description": "`1 = Clear`, `2 = Low`, `3 = Medium`, `4 = High`, `5 = Urgent`",
                                "type": "integer",
                                "maximum": 5,
                                "minimum": 1
                            },
                            "status": {
                                "description": "`1 = Open`, `2 = InProgress`, `3 = Delayed`, `4 = Complete`, `5 = Cancelled`",
                                "type": "integer",
                                "maximum": 5,
                                "minimum": 1
                            },
                            "created_on": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "edited_on": {
                                "type": "string",
                                "format": "date-time"
                            }
                        },
                        "type": "object"
                    },
                    "relationships": {
                        "properties": {
                            "subtask": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/subtask"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "assignee": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/personnel_basic"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "comment": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/comment"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "event": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/event"
                                        }
                                    }
                                },
                                "type": "object"
                            },
                            "attachment": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/attachment"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "204": {
                "description": "No Content"
            },
            "400": {
                "description": "BadRequest",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/errors"
                        }
                    }
                }
            },
            "401": {
                "description": "Unatuhorized",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/errors"
                        }
                    }
                }
            },
            "404": {
                "description": "NotFound",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/errors"
                        }
                    }
                }
            }
        },
        "/gis/authorized/structure/{structure_id}/image/{z}/{x}/{y}": {
            "get": {
                "tags": [
                    "Structure"
                ],
                "summary": "Get Image of Structure",
                "operationId": "ControllerGisAuthorized::get_structure_image",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/structure_id"
                    },
                    {
                        "parameter": "structure_image_z",
                        "name": "z",
                        "in": "path",
                        "description": "zoom",
                        "schema": {
                            "type": "string",
                            "default": 1
                        }
                    },
                    {
                        "parameter": "structure_image_x",
                        "name": "x",
                        "in": "path",
                        "description": "column. Defaults to: `0 if z is 1` | `1 if z is 2` | `4 if z is 3`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "parameter": "structure_image_y",
                        "name": "y",
                        "in": "path",
                        "description": "row. Defaults to: `0 if z is 1` | `1 if z is 2` | `4 if z is 3`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "string",
                                            "format": "base64",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/gis/authorized/document/{bulten_no}": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get Document Details",
                "operationId": "ControllerGisAuthorized::get_document",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/document_id"
                    },
                    {
                        "parameter": "yapi_belge_tip",
                        "name": "yapi_belge_tip",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "description": "`1 = Yapı Ruhsat Belgesi`, `2 = Yapı Kullanma İzni Belgesi`, `3 = Yanan ve Yıkılan Belgesi`",
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/document"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/gis/authorized/numbering/{bina_no}/document": {
            "get": {
                "tags": [
                    "Document"
                ],
                "summary": "Get Documents of Numbering",
                "operationId": "ControllerGisAuthorized::fetch_documents_of_numbering",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/numbering_id"
                    },
                    {
                        "$ref": "#/components/parameters/document_brief_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/document_brief"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/gis/authorized/structure/{structure_id}/comment/{comment_id}": {
            "delete": {
                "tags": [
                    "Comment (Structure)"
                ],
                "summary": "Remove Structure Comment",
                "operationId": "ControllerGisAuthorized::remove_comment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/structure_id"
                    },
                    {
                        "$ref": "#/components/parameters/structure_comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comment (Structure)"
                ],
                "summary": "Update Structure Comment",
                "operationId": "ControllerGisAuthorized::edit_comment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/structure_id"
                    },
                    {
                        "$ref": "#/components/parameters/structure_comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/structure_comment_include"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "$ref": "#/components/schemas/comment_request_body"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/structure_comment"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            }
        },
        "/gis/authorized/ada/{ada_no}/parsel/{parsel_no}/comment/{comment_id}": {
            "delete": {
                "tags": [
                    "Comment (Parcel)"
                ],
                "summary": "Remove Parcel Comment",
                "operationId": "ControllerGisAuthorized::remove_parcel_comment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ada_no"
                    },
                    {
                        "$ref": "#/components/parameters/parsel_no"
                    },
                    {
                        "$ref": "#/components/parameters/structure_comment_id"
                    },
                    {
                        "$ref": "#/components/parameters/authorization"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/components/responses/204"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "404": {
                        "$ref": "#/components/responses/404"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Comment (Parcel)"
                ],
                "summary": "Update Parcel Comment",
                "operationId": "ControllerGisAuthorized::edit_parcel_comment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ada_no"
                    },
                    {
                        "$ref": "#/components/parameters/parsel_no"
                    },
                    {
                        "$ref": "#/components/parameters/structure_comment_id"
                    },
                    {
[...]
